@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@layer components {
  /* global styling */
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    font-family: "Poppins", sans-serif;
  }

  .section_heading {
    @apply text-3xl md:text-4xl font-semibold text-gray-800 mb-2;
  }
  .section_heading_color {
    @apply text-3xl md:text-4xl font-semibold text-white mb-4;
  }

  .section_sub_heading {
    @apply text-lg text-gray-500;
  }
  .section_sub_heading_color {
    @apply text-gray-400 max-w-2xl mx-auto;
  }

  .sm_input {
    @apply w-full px-4 py-3 rounded-xl border border-gray-200 bg-gray-50/50 focus:bg-white focus:border-teal-500 focus:ring-4 focus:ring-teal-500/5 transition-all outline-none text-sm;
  }

  .lg_input {
    @apply w-full px-4 py-3 rounded-xl border border-gray-200 bg-gray-50/50 focus:bg-white focus:border-teal-500 focus:ring-4 focus:ring-teal-500/5 transition-all outline-none text-sm;
  }

  /* Testimonial Slider */
  .splide__arrow {
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(8px);
  }

  .splide__pagination__page {
    background-color: #94a3b8 !important;
    opacity: 0.6;
    transform: scale(1);
  }

  .splide__pagination__page.is-active {
    background-color: #14b8a6 !important;
    opacity: 1;
    transform: scale(1.3);
    border-radius: 5px !important;
    height: 5px !important;
    width: 20px !important;
    margin: 0 10px !important;
  }

  /* Academic Page Blinking */
  @keyframes blink {
    0%,
    100% {
      background-color: rgba(41, 157, 146, 0.2); /* faded blue */
      box-shadow: 0 0 0px rgba(41, 157, 146, 0);
    }

    50% {
      background-color: rgba(41, 157, 146, 0.8); /* brighter blue */
      box-shadow: 0 0 15px rgba(41, 157, 146, 0.6); /* glow */
    }
  }

  /* 2️⃣ Register the animation in Tailwind v4 */
  @theme {
    --animate-blink: blink 3s infinite ease-in-out;
  }
}
